<template>
    <Page>
        <ActionBar title="Pokemon list" id="actionBar">
          <StackLayout orientation="horizontal">
            <Label text="Pokemon list" width="70%" id="mainTitle"/>
            <Button text="View Team" width="30%" @tap="_computeStrength_" id="navButton" />
            <TextField v-model="textFieldValue" hint="Search for name or dex number" />
          </StackLayout>
        </ActionBar>
        <ScrollView>
              <ListView for="(item, index) in pokemons">
                <v-template>
                  <WrapLayout>
                    <Label width="15%" :text="'#' + index" id="pokeNumberLabel"/>
                    <Image :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${index + 1}.png`" class="thumb"/>
                    <Label id="pokeNameLabel" width="40%" :text="item.name"/>
                    <Button width="15%" text="Add" id="addPokeButton" @itemTap="_selectPokemon_"/>
                  </WrapLayout>
                </v-template>
              </ListView>
        </ScrollView>
    </Page>
</template>

<script>
import axios from 'axios'
import Team from './Team'
export default {
    data () {
        return {
          pokemons: [],
          selectedPokemons: []
        };
    },
    created(){
      this._collectPokemons_()
    },
    methods: {
      _computeStrength_(){
        this.$navigateTo(Team, { props: { team: this.selectedPokemons } })
      },
      _selectPokemon_: async function (args) {
         this.selectedPokemons.push({name: args.item.name, id: this.pokemons.findIndex(pokemon => pokemon.name == args.item.name)})
          const { data: pokemonData } = await axios.get(`${POKE_API_BASE_URL}/pokemon/${id}`);
          const { data: pokemonSpecieData } = await axios.get(`${POKE_API_BASE_URL}/pokemon-species/${id}`);

          const { types } = pokemonData;
          const { flavor_text_entries } = pokemonSpecieData;

          const pokemon_types = types.map(({ slot, type }) => {
            return {
              "id": slot,
              "name": type.name,
              "classname": `TypeText ${type.name}`
            }
          });

          const pokemon_description = flavor_text_entries.find(item => item.language.name === 'en').flavor_text; // get the first english description

          // next: navigate to Pokemon page

      },
      async _collectPokemons_(){
        const { data } = await axios.get('https://pokeapi.co/api/v2/pokemon/?limit=151')
        this.pokemons = data.results
      }
    }
}
</script>

<style scoped>
.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}
</style>
