<template>
  <Page>
      <ActionBar id="actionBar">
        <StackLayout orientation="horizontal">
          <Label text="My Team" width="70%" id="mainTitle"/>
          <Button text="Change Selection" width="50%" @tap="_returnToPokeList_" id="navButton" />
        </StackLayout>
      </ActionBar>
      <ScrollView>
        <StackLayout>
        <Label :text="_getStrengths_()" height="70" backgroundColor="#43b883"/>
        <ListView for="(type, index) in Object.keys(wrtypes)" height="100%">
          <v-template>
            <WrapLayout>
              <Label width="60%" :text="type" />
              <Label width="60%" :text="wrtypes[type]" />
            </WrapLayout>
          </v-template>
        </ListView>
        <!-- ezt a ListView-t kommenteld ki, akkor latszik a kivalasztott pokemonok listaja -->
         <ListView for="(item, index) in team" @itemTap="alam">
          <v-template>
            <WrapLayout>
              <Image :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${item.id+1}.png`" class="thumb" />
              <Label width="60%" :text="item.name" />
            </WrapLayout>
          </v-template>
        </ListView>
       </StackLayout>
      </ScrollView>
  </Page>
</template>

<script>
import axios from 'axios'
import PokeList from './PokeList'
export default {
  props: ['team'],
  data(){
    return{
      wrtypes: []
    }
  },
  created(){
    this._getStrengths_()
  },
  methods: {
    async _getStrengths_(){
      let params = {
        action: 'marriland_team_builder',
        mode: 'table',
        lang: 'en',
      }
      this.team.forEach((pokemon, index) => {
        params[`team[${index}][slot]`] = index
        params[`team[${index}][name]`] = pokemon.name
      })
      const { data } = await axios.get('https://marriland.com/wp-admin/admin-ajax.php?' + this.encodeQueryData(params))
      this.wrtypes = data.team.reduce((member, prevmember) => {
        return {
          normal: member.wrtypes.normal + prevmember.wrtypes.normal,
          fire: member.wrtypes.fire + prevmember.wrtypes.fire,
          water: member.wrtypes.water + prevmember.wrtypes.water,
          electric: member.wrtypes.electric + prevmember.wrtypes.electric,
          grass: member.wrtypes.grass + prevmember.wrtypes.grass,
          ice: member.wrtypes.ice + prevmember.wrtypes.ice,
          fighting: member.wrtypes.fighting + prevmember.wrtypes.fighting,
          poison: member.wrtypes.poison + prevmember.wrtypes.poison,
          ground: member.wrtypes.ground + prevmember.wrtypes.ground,
          flying: member.wrtypes.flying + prevmember.wrtypes.flying,
          psychic: member.wrtypes.psychic + prevmember.wrtypes.psychic,
          bug: member.wrtypes.bug + prevmember.wrtypes.bug,
          rock: member.wrtypes.rock + prevmember.wrtypes.rock,
          ghost: member.wrtypes.ghost + prevmember.wrtypes.ghost,
          dragon: member.wrtypes.dragon + prevmember.wrtypes.dragon,
          dark: member.wrtypes.dark + prevmember.wrtypes.dark,
          steel: member.wrtypes.steel + prevmember.wrtypes.steel,
          fairy: member.wrtypes.fairy + prevmember.wrtypes.fairy
        }
      })
    },
    _returnToPokeList_(){
      this.$navigateTo(PokeList)
    },
    encodeQueryData(data) {
       const ret = [];
       for (let d in data)
         ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
       return ret.join('&');
    }
  }
}
</script>

<style lang="css" scoped>
</style>
