@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';

.btn {
    font-size: 18;
}

#actionBar{
  background-color: #478063;
  padding-right: 20px;
}

#mainTitle{
  color: #ffffff;
  font-size: 22px;
  vertical-align: middle;
}

#navButton{
  font-size: 16px;
  color: #ffffff;
  background-color: Transparent;
  vertical-align: middle;
  text-align: center;
  padding: auto;
  margin: auto;
}

#addPokeButton{
  font-size: 14px;
  color: #ffffff;
  background-color: #478063;
  vertical-align: middle;
  text-align: center;
}

#pokeNameLabel{
  font-size: 14px;
  color: #2e5441;
  text-transform: capitalize;
}

#pokeNumberLabel{
  font-size: 14px;
  color: #2e5441;
}
